<% layout('layout') -%>

<div class='jumbotron text-center'>
	<h1>Welcome to index</h1>

	<a href='/login' class='btn btn-default'>Local login</a>
	<a href='/signup' class='btn btn-default'>Local signup</a>
</div>