<% layout('layout') -%>

<div class='jumbotron text-center'>
	<h1>Welcome to index</h1>

	<a href='/login' class='btn btn-default'>Local login</a>
	<a href='/signup' class='btn btn-default'>Local signup</a>
	<a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
	<a href="/auth/spotify" class="btn btn-success">Login with Spotify</a>
</div>