<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="authentication with node.js and passport.js">
	<meta name="author" content="Connor Leech">
	<title>Express Auth</title>

	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
	    body    { padding-top:50px; }
	</style>

	<script src='main.js'></script>
</head>
<body>
	<div class='container'>
		<%- body -%>
	</div>
</body>
</html>